.main {
  max-width: 780px;
  margin: 0 auto;
}

.content {
  margin: 0 21px 12px;
}

.content p {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.58;
  padding: 0;
  margin: 0 0 12px 0;
  color: rgba(0,0,0,.8);
}

@media screen and (max-width: 992px) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
  }
}