.container {
  display: grid;
  text-align: center;
  width: 100%;
}

.container form {
  display: grid;
  justify-self: center;
  align-self: center;
  /*width: 100%;*/
}

.container form input,
.container form button {
  justify-self: center;
  align-self: center;
  padding: 5px;
  margin: 5px;
  font-size: 18px;
  width: 100%;
}

