.line {
  margin: 8px;
}

.btn {
  font-family: LatoRegular, sans-serif;
  box-sizing: border-box;
  margin-right: 3px;
  padding: 3px;
  background: #ccc;
  border-radius: 3px;
}
.btn:hover {
  background: #aaa;
}

.btn-add {
  width: 100%;
  display: block;
  font-size: 22px;
  margin: 8px;
  padding: 5px;
  background: #1e90ff;
}

.title {
  padding: 3px;
  font-size: 18px;
  color: #1c93c5!important;
  font-family: Sylfaen, sans-serif;
  font-style: italic;
}