@font-face {
  font-family: LatoRegular;
  src: url(./fonts/LatoRegular.ttf);
}

@font-face {
  font-family: LatoBold;
  src: url(./fonts/LatoBold.ttf);
}

@font-face {
  font-family: Sylfaen;
  src: url(./fonts/Sylfaen.ttf);
}
