@import 'css/custom.css';
@import 'css/ckeditor.css';

html {
  scroll-behavior: smooth;
}

.App {
  padding: 21px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "LatoBold", sans-serif;
}

a, li {
  font-family: "Sylfaen", sans-serif;
  font-size: 20px;
}

p, span, ul, ol, li {
  font-family: "Sylfaen", sans-serif;
}

ul, ol, li {
  font-weight: 400;
  font-size: 18px;
  margin: 0 0 12px 0;
  color: rgba(0,0,0,.8);
}

p > a {
  font-style: italic;
  color: #1c93c5!important;
  cursor: pointer;
}

p > a:hover {
  color: #1c93c5;
  text-decoration: underline;
}

h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  margin: 21px 21px 12px;
  line-height: 34px;
}

h3 {
  font-size: 3em;
}
h1, h2, h3 {
  color: #333333;
}

body {
  color: #000000;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #000000;
}

h4 a {
  text-decoration: underline;
}

h4 a:hover {
  text-decoration: underline;
}

h4 {
  margin-bottom: 1.125rem;
  font-weight: 700;
}

p {
  font-size: 20px;
}


.entry-content {
  margin: 0 auto;
  max-width: 780px;
}

.entry-content a {
  font-style: normal;
}

.entry-content img{
  width: 100%;
}

*:before, *:after {
  background: #fefefe;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}
